@page ""
@model IndexModel

@section Styles {
    <link rel="stylesheet" href="~/css/responsiveW3.css" type="text/css">
    <link rel="stylesheet" href="~/css/Index.css" type="text/css">
}

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

<div class="main col-12">
    <header class="main-header col-5">
        <h1>NOT REKSA CHAT</h1>
        <p>Digite um nome e comece a conversar!</p>

        <section class="connect-area">
            <div class="input-user-container">
                <label for="inputUser">Nome:</label>
                <input type="text" name="inputUser" id="username" placeholder="ex: Vigia">
            </div>

            <div class="input-user-container">
                <label for="inputAdmPass">Adm:</label>
                <input type="password" name="inputAdmPass" id="admPass">
            </div>

            <button id="btnConnect" onclick="connect()">Conectar!</button>
        </section>
    </header>

    <section class="main-chat col-7">
        <div class="chat">
            <header>
                <h2>MENSAGENS</h2>
            </header>

            <ul id="msgList">
                
            </ul>
        </div>

        <div class="sendMsg-container">
            <textarea id="msgValue" maxlength="300" onkeydown="enterTextArea(event) " placeholder="ex: Meu nome é Vigia e vou te floodar hahaha!"></textarea>
            <button id="btnSendMsg" onclick="sendMessage(event)">Enviar</button>
        </div>
    </section>
</div>